*.aux
*.log
*.jar
lib/*
classes/
pom-generated.xml
pom.xml
native
.cake
.lein-deps-sum
target
.lein-repl-history
.lein-failures
.nrepl-port
*.iml
*.idea
public/js/
!public/js/api.js
!public/js/bootstrap.min.js
!public/js/sketch.js
