.sketch #source {
    width: 100%;
    height: 500px;
}

.sketch #result {
    margin: 20px auto;
    text-align: center;
}

.sketch #result iframe {
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    border: 1px dashed #ecf0f1;
}

.sketch #ajax-status {
    width: 130px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.sketch #ajax-status img {
    width: 100px;
    height: 100px;
}

.sketch .CodeMirror {
    height: auto;
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}

.sketch .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.sketch .CodeMirror pre {
    font-size: 14px;
}

.sketch .nav-tabs .btn-group {
    float: right;
}

body .navbar {
    border-radius: 0px;
}

body {
    overflow-y: scroll;
}

body .container.api a {
    text-decoration: underline;
}

.api .category-div {
    background-color: #F7F8FA;
    padding: 7px;
    margin: 10px 0px;
}

.api .breadcrumb {
    background-color: transparent;
    padding-left: 0px;
}

.api .category {
    margin: 0px 0px 7px 0px;
}

.api .category a {
    color: #18bc9c;
}

.api .subcategory a {
    color: #3498db;
}

.api .function a {
    margin: 5px 0px;
    color: #2c3e50;
}

.api .function sup {
    margin-left: 2px;
}

.api .function-doc {
    background-color: #f7f8fa;
    margin: 10px 0px;
    padding: 10px 0px 10px 10px;
}

.api .function-doc dl {
    margin-bottom: 0px;
}

.api .function-doc h3 {
    margin: 0px;
}

.api .function-index {
    margin-bottom: 30px;
}

.api .arg {
    display: block;
}

.api .docstring {
    background-color: transparent;
    border: 0px;
    color: initial;
    padding: 0px;
    margin: 0px;
}

.api dt {
    margin-top: 10px;
}

.about .features dd {
    margin-bottom: 10px;
}

.about dl.features {
    margin-bottom: 0px;
}

.about .features dt {
    font-size: 17px;
}

.about h4 {
    margin-top: 0px;
}

.about .section {
    margin: 40px 0px;
}

.about .example {
    width: 200px;
    margin: auto;
}

.about .example .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

